<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics xdt:Transform="InsertIfMissing">
    <trace xdt:Transform="InsertIfMissing">
      <listeners xdt:Transform="InsertIfMissing">
        <remove name="Default" xdt:Transform="InsertIfMissing" />
        <!--remove any existing default trace listeners; they cannot be configured the app.config, so they will always show the assert failure dialog-->
        <add type="System.Diagnostics.DefaultTraceListener" xdt:Transform="RemoveAll" xdt:Locator="Match(type)" />
        <!--insert a DebugAssertTraceListener which will not display the a UI on Debug.Assert failures but instead throw an exception.-->
        <add name="Default" type="Microsoft.OData.TestCommon.DebugAssertTraceListener, Microsoft.OData.TestCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=69c3241e6f0468ca" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>