<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics xdt:Transform="InsertIfMissing">
    <trace autoflush="false" indentsize="4" xdt:Transform="InsertIfMissing">
      <listeners xdt:Transform="InsertIfMissing">
        <remove name="Default" xdt:Transform="InsertIfMissing" />
        <!--Remove any existing default trace listeners. They either show the assert failure dialog, so we don't want them, or they are configured to not show that dialog, in which case *any* default trace listener will behave exactly the same, so the one we add later will work in the place of the ones we are removing.-->
        <add type="System.Diagnostics.DefaultTraceListener" xdt:Transform="RemoveAll" xdt:Locator="Match(type)" />
        <!--Insert a new default trace listener that is configured to not show the assert failure dialog.-->
        <!--<add name="Default" type="System.Diagnostics.DefaultTraceListener" initializeData="false" xdt:Transform="Insert" />-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>