<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--<system.serviceModel>
    <services>
      <service name="ODataLib.Scenarios.WCF.ODataService">
        <endpoint address="http://localhost:16141/ODataService.svc/" behaviorConfiguration="RESTFriendly" binding="webHttpBinding" contract="Microsoft.Test.Taupo.OData.WCFService.IODataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding />
      <webHttpBinding />
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          -->
  <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" />
          -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="DBNorthwindEntities" connectionString="metadata=res://Microsoft.Test.Taupo.OData.WCFService.Model/northwindModel.csdl|res://Microsoft.Test.Taupo.OData.WCFService.Model/northwindModel.ssdl|res://Microsoft.Test.Taupo.OData.WCFService.Model/northwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PhanaticSL4;Initial Catalog=DBNorthwind;Integrated Security=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBNorthwindEntities" connectionString="metadata=res://*/northwindModel.csdl|res://*/northwindModel.ssdl|res://*/northwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PhanaticSL4;Initial Catalog=DBNorthwind;Integrated Security=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>
