################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ODataLib/EdmLib/Desktop/.Net4.0
