<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
  </RunConfiguration>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
			<Format>cobertura</Format>
			<Include>
				<ModulePath>.*Microsoft\.OData\.Core\.dll$</ModulePath>
                <ModulePath>.*Microsoft\.OData\.Edm\.dll$</ModulePath>
                <ModulePath>.*Microsoft\.OData\.Client\.dll$</ModulePath>
                <ModulePath>.*Microsoft\.Spatial\.dll$</ModulePath>
			</Include>
			<Exclude>
				<ModulePath>.*CPPUnitTestFramework.*</ModulePath>
			</Exclude>
		</Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>