<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
  </RunConfiguration>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*Microsoft\.OData\.Core\.dll$</ModulePath>
                <ModulePath>.*Microsoft\.OData\.Edm\.dll$</ModulePath>
                <ModulePath>.*Microsoft\.OData\.Client\.dll$</ModulePath>
                <ModulePath>.*Microsoft\.Spatial\.dll$</ModulePath>
              </Include>
			  <Exclude>
				<ModulePath>.*CPPUnitTestFramework.*</ModulePath>
			  </Exclude>
            </ModulePaths>
            <!-- Match attributes on any code element: -->
            <!-- https://docs.microsoft.com/en-us/visualstudio/test/customizing-code-coverage-analysis?#sample-runsettings-file -->
            <Attributes>
              <Exclude>
                <!-- Don't forget "Attribute" at the end of the name -->
                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <!-- We recommend you do not change the following values: -->
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
  </TestRunParameters>
  <!-- Adapter Specific sections -->
  <!-- MSTest adapter -->
  <MSTest>
    <!--<SettingsFile>test.testsettings</SettingsFile>-->
    <InProcMode>false</InProcMode>
    <ForcedLegacyMode>false</ForcedLegacyMode>
    <MapInconclusiveToFailed>false</MapInconclusiveToFailed>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
  </MSTest>
</RunSettings>