<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="2.0.0.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.OData.Service" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.OData.Service.Client" version="5.6.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
</packages>