<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="OData Feed" value="https://www.myget.org/F/odata/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Xunit Performance" value="https://www.myget.org/F/dotnet-buildtools/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>