<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="1.6" />
  <package id="EntityFramework" version="5.0.0"/>
  <package id="FluentAssertions" version="2.0.0.1" />
  <package id="FluentAssertions" version="4.19.2" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" />
  <package id="Microsoft.Hadoop.Avro" version="1.4.0.0" />
  <package id="Microsoft.MadMan" version="3.1.112712.0" />
  <package id="Microsoft.NETCore.App" version="1.0.0" />
  <package id="Microsoft.NETCore.Jit" version="1.0.2" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" />
  <package id="Microsoft.NETCore.Runtime.CoreCLR" version="1.0.2" />
  <package id="Microsoft.OData.StyleCop" version="1.0.0" />
  <package id="Newtonsoft.Json" version="6.0.5" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" />
  <package id="StyleCop.MSBuild" version="4.7.49" />
  <package id="xunit" version="2.1.0" />
  <package id="xunit.abstractions" version="2.0.0" />
  <package id="xunit.assert" version="2.1.0" />
  <package id="xunit.core" version="2.1.0" />
  <package id="xunit.extensibility.core" version="2.1.0" />
  <package id="xunit.extensibility.execution" version="2.1.0" />
  <package id="xunit.runner.visualstudio" version="2.1.0" />
</packages>