<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0"/>
  <package id="FluentAssertions" version="2.0.0.1" />
  <package id="ApprovalTests" version="1.6" />
  <package id="Microsoft.MadMan" version="3.1.112712.0" />
  <package id="EntityFramework" version="4.3.1" />
  <package id="StyleCop.MSBuild" version="4.7.49" />
  <package id="Microsoft.Hadoop.Avro" version="1.4.0.0" />
  <package id="Newtonsoft.Json" version="6.0.5" />
</packages>