<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#
string [] spatialPipelineCreationMethods = new string [] 
    {
        "CreateBuilder",
        "CreateValidator",
    };
#>
using System.Reflection;
using System.Linq;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using Microsoft.Data.Spatial;

namespace Microsoft.Spatial.TDDUnitTests
{
    public partial class DataServicesSpatialImplementationTests
    {
        string [] spatialPipelineReturnTestedMethods = new string [] 
            {
<#		
	foreach(var method in spatialPipelineCreationMethods)
    {
#>
                 "<#= method #>",
<#
    }
#>
            };

<#
	foreach(string method in spatialPipelineCreationMethods)
    {
#>	
        [TestMethod]
        public void TestSpatialPipelineReturn_<#= method #>()
        {
            var pipeline = testSubject.<#= method #>();
			AssertPipelineIsForwardingSegment(pipeline);
		}
<#
	}
#>
	}
}