<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net451" />
  <package id="EnvDTE" version="8.0.2" targetFramework="net451" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net451" />
  <package id="stdole" version="7.0.3302" targetFramework="net451" />
</packages>