<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LivePhotos.LiveMockServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFriendly">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="LivePhotos.LiveMockServiceBehavior" name="LivePhotos.LiveMockService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTFriendly" contract="LivePhotos.ILiveMockService2">
          <identity>
            <dns value="Phanatic"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="TestServiceHost.NorthwindService">
        <endpoint binding="webHttpBinding" bindingConfiguration="higherMessageSize"
         contract ="Microsoft.OData.Service.IRequestHandler">
        </endpoint>
      </service>
      <service name="TestServiceHost.ArubaService">
        <endpoint binding="webHttpBinding" bindingConfiguration="higherMessageSize"
         contract ="Microsoft.OData.Service.IRequestHandler">
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="higherMessageSize" maxReceivedMessageSize ="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
   </system.serviceModel>
   <startup useLegacyV2RuntimeActivationPolicy="true">
   </startup>
</configuration>